/* .btn-custom {
    background-color: #934747 !important;
    border-color: #934747 !important;
    color: #fff !important;
}

.btn-custom:hover {
    background-color: #af7e7e !important;
    border-color: #af7e7e !important;
    color: #ffffff !important;
} */

.card {
    border: 4px double #934747 !important;
}


.title {
    font-size: 4rem;
    color: #934747;
}

/* img {
    width: 100% !important;
    height: 230px !important;
} */

.card-img-top {
    width: auto !important;
    height: auto !important;
    object-fit: cover !important;
}

.product-name {
    font-weight: bold;
}

.btn.btn-outline-light {
    background-color: #efc2c2 !important;
    border-color: #efc2c2 !important;
    color: #fff !important;
}

.btn.btn-outline-light:hover {
    background-color: #aa6f6f !important;
    border-color: #aa6f6f !important;
    color: #fff !important;
}

.btn.btn-dark {
    background-color: #934747 !important;
    border-color: #934747 !important;
    color: #fff !important;
}

.btn.btn-dark:hover {
    background-color: #af7e7e !important;
    border-color: #af7e7e !important;
    color: #ffffff !important;
}

.detail-content {
    display: flex;
}

#product {
    display: contents;
}

.detail-box {
    background-color: rgba(239, 194, 194, 0.5);
    padding: 50px 50px;
    border-radius: 20px;
    margin-left: 50px;
}