/* 탑배너 COMMONS.CSS로 불려오고 (내용물: 로고, 판매자상품등록버튼, 장바구니, 로그인, 로그아웃, 회원가입, 회원수정, 회원탈퇴) */

/* 탑배너 아래 모든 물체를 중앙 위치로 맞춰줌 */
.center_organizer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* 회원정보수정이라고 쓰인 글씨 */
.title_update {
    font-weight: bold;
    color: rgba(101, 56, 56, 1);
    font-size: 50px;
}

/* 좌측 회원가입SIGNUP 표시와 우측 기입란 박스를 가로로 정렬 */
.bothside_seperater {
    display: flex;
}

/* 좌 우 핑크 박스들 */
.left_box {
    background-color: rgb(255, 225, 220);
    width: 400px;
    height: 600px;
    border-radius: 5px;
    box-shadow: 5px 5px gray;
}

.left_box>p {
    font-weight: bold;
    margin-top: 35px;
    margin-left: 35px;
}

.left_box>input {
    margin-left: 35px;
    width: 300px;
    height: 30px;
}

.white_box {
    background-color: rgb(209, 204, 204);
    width: 300px;
    height: 30px;
    border: 1px solid black;
    padding: 6px 0 0 5px;
}

.arrow_mark {
    color: rgba(101, 56, 56, 1);
    font-size: 50px;
    margin: 240px 50px 0 50px;
}

.right_box {
    background-color: rgb(255, 225, 220);
    width: 400px;
    height: 600px;
    border-radius: 5px;
    box-shadow: 5px 5px gray;
}

.right_box>p {
    font-weight: bold;
    margin-top: 35px;
    margin-left: 35px;
}

.right_box>input {
    margin-left: 35px;
    width: 300px;
    height: 30px;
}

.update_button {
    margin-top: 20px;
    margin-left: 100px;
    border: 0px;
    border-radius: 5px;
    width: 170px;
    height: 40px;
    background-color: rgba(101, 56, 56, 1);
    color: white;
    font-weight: bold;
}

.update_button:hover {
    background-color: rgba(210, 84, 43, 0.86);
}