<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/css/common.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/carts.css" />
    <title>장바구니</title>
    <script src="/static/js/loader.js"></script>


</head>

<body>

    <div class="cart-container">
        <h2>장바구니</h2>
        <div class="cart-items">
            <!-- 장바구니 목록  -->
        </div>
        <div class="total-amount"></div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="../static/js/carts.js"></script>
    <script src="/static/js/loader.js"></script>
</body>

</html>