<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/css/common.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/carts.css" />
    <title>장바구니</title>

</head>

<body>
    <header class="top_banner" name="top_banner">
        <h1><a href="../index.html"><img
                    src="https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2FH1wxl%2FbtshhJaNxYe%2FTHUZOmkP459ZULv0CuV0ok%2Fimg.png"
                    class="top_logo" /></a></h1>
        <div class="login_box">
            <a href="" type="button" class="top_banner_buttons">상품 등록(판매자)</a>
            <a href="#" type="button" class="top_banner_buttons" id="logout-btn">로그아웃</a>
        </div>
    </header>
    <div class="cart-container">
        <h2>장바구니</h2>
        <div class="cart-items">
            <!-- 장바구니 아이템들이 여기에 동적으로 추가될 것입니다 -->
        </div>
        <div class="total-amount"></div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="../static/js/carts.js"></script>
</body>

</html>