<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="../static/css/common.css" />
    <!-- 헤더의 CSS 받는 코드 -->
    <link rel="stylesheet" type="text/css" href="../static/css/deleteuser.css" />
    <!-- 헤더의 CSS 받는 코드 -->
    <title>아몰약 회원정보 삭제</title>
</head>

<body>
    <!-- 헤더시작 -->
    <header class="top_banner" name="top_banner">
        <h1><a href="../index.html"><img
                    src="https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2FH1wxl%2FbtshhJaNxYe%2FTHUZOmkP459ZULv0CuV0ok%2Fimg.png"
                    class="top_logo" /></a></h1>
        <div class="login_box">
            <a href="product-create.html" type="button" class="top_banner_buttons">상품 등록(판매자)</a>
            <a href="carts.html" type="button" class="top_banner_buttons">장바구니</a>
            <a href="signin.html" type="button" class="top_banner_buttons">로그인</a>
            <a href="" type="button" class="top_banner_buttons">로그아웃</a>
            <a href="signup.html" type="button" class="top_banner_buttons">회원가입</a>
            <a href="updateuser.html" type="button" class="top_banner_buttons">회원정보수정</a>
            <a href="deleteuser.html" type="button" class="top_banner_buttons">회원탈퇴</a>
        </div>
    </header>
    <!-- 헤더끝 -->
    <div class="column_organizer">
        <p class="title_delete">회원탈퇴</p>
        <div class="info_delete">
            <span>정말로 회원을 탈퇴하시겠습니까?</span>
            <span>아래 탈퇴하기 버튼을 눌러주세요.</span>
            <span>탈퇴 즉시 회원정보가 삭제됩니다.</span>
        </div>
        <input class="delete_button" type="button" value="탈퇴하기" />
    </div>
</body>

</html>