<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>아몰약!💊</title>
    <link rel="stylesheet" href="/static/css/products.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" 
    rel="stylesheet" 
    integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" 
    crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" 
    crossorigin="anonymous"></script>
</head>
<body>
    <header></header>
    <div class="container">
        <h1 class="text-center mt-5 title">Product</h1>
        <div class="row col-md-6" id="product">
            <div class="detail-content">
                <div class="col" id="product-image"></div> 
                <div class="col align-self-center detail-box">
                    <h3 class="col" id="product-name">상품명</h3>
                    <div class="col" id="product-price">가격</div>
                    <div class="col" id="product-status">재고수량</div>
                </div>
            </div>
            <div class="detail-btn">
                <button type="button" class="btn btn-dark" id="review-btn">리뷰작성</button>
                <button type="button" class="btn btn-outline-light" id="update-btn">수정</button>
                <button type="button" class="btn btn-dark" id="delete-btn">삭제</button>
                <!-- 찜 추가 버튼 -->
                <button type="button" class="btn btn-outline-light" id="wish-btn" onclick="addWish()">찜하기</button>
            </div>
        </div>
        <div class="second-title">Content</div>
        <div class="second-area">
            
            <div class="col-12" id="product-content">내용</div> 
        </div>
        <div class="second-title" >Reviews</div>
        <div id="review-list">
        </div>
        
        
        
    </div>
    
    <script src="/static/js/loader.js"></script>
    <script src="../static/js/products-api.js"></script>
    <script src="../static/js/products.js"></script>
    <script src="/static/js/review-api.js"></script>
    <script src="../static/js/product-detail.js"></script>
</body>
</html>