<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/css/common.css"><!-- 헤더의 CSS 받는 코드 -->
    <link rel="stylesheet" href="../static/css/reviewlist.css">
    <title>아몰약! 리뷰 목록</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" 
    rel="stylesheet" 
    integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" 
    crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" 
    crossorigin="anonymous"></script>
</head>

<body>
    <!-- 헤더시작 -->
    <header>
    </header>
    <!-- 헤더끝 -->
    <div class="board_list_wrap">
        <div class="review_header">
            <div class="title">
                <h1>Review</h1>
            </div>
            <div class="review_button">
                <a href="review_create.html" class="btn">리뷰 등록</a>
            </div>
        </div>
        <table class="board_list">
            <caption>리뷰 목록</caption>
            <thead>
                <tr>
                    <th class="title">제목</th>
                    <th class="star">별점</th>
                    <th class="author">작성자</th>
                    <th class="time">작성날짜</th>
                </tr>
            </thead>
            <tbody id="review-list">
                <tr>
                    <td class="tit">
                        <a href="#" class="review-title">비타민 좋아</a>
                    </td>
                    <td class="review-star">★★★★★</td>
                    <td class="review-writer">닉네임</td>
                    <td class="review-date">2023-11-20</td>
                </tr>
                <tr>
                    <td class="tit">
                        <a href="#">비타민 좋아</a>
                    </td>
                    <td>★★★★★</td>
                    <td>닉네임</td>
                    <td>2023-11-12</td>
                </tr>
            </tbody>
        </table>
        <div class="paging">
            <a href="#" class="bt">이전 페이지</a>
            <a href="#" class="num on">1</a>
            <a href="#" class="num">2</a>
            <a href="#" class="num">3</a>
            <a href="#" class="bt">다음 페이지</a>
        </div>
    </div>
    <script src="../static/js/review-api.js"></script>
    <script src="../static/js/review.js"></script>
    <script src="/static/js/loader.js"></script>
    <script src="../static/js/products-api.js"></script>
    <script src="../static/js/products.js"></script>
    <script src="../static/js/product-detail.js"></script>
</body>

</html>