<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="../static/css/common.css" />
    <!-- 헤더의 CSS 받는 코드 -->
    <link rel="stylesheet" type="text/css" href="../static/css/signin.css" />
    <title>아몰약!💊 - 로그인</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" 
    rel="stylesheet" 
    integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" 
    crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" 
    crossorigin="anonymous"></script>
</head>

<body>
    <!-- 헤더시작 -->
    <header>
    </header>
    <!-- 헤더끝 -->
    <div class="center_organizer">
        <div class="bothside_seperater">
            <div class="left_box">
                <div class="title_signup" name="title_signup">로그인<br>SIGN IN</div>
                <p class="intro_login">이도 저도 귀찮으면</p>
                <div class="social_buttons">
                    <button>카카오톡 로그인</button>
                    <button>구글 로그인</button>
                </div>
            </div>
            <div class="right_box">
                <form>
                    <p>아이디를 입력하세요</p>
                    <input id="user_login_id"/>
                    <p>비밀번호를 입력하세요</p>
                    <input id="user_login_password" type="password"/>
                    <button onclick="signin_button()" class="signin_button" type="button">로그인 하기</button>
                </form>
            </div>
        </div>
    </div>
    <script src="/static/js/loader.js"></script>
    <script src="../static/js/signin.js"></script>
</body>

</html>