<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/css/common.css"><!-- 헤더의 CSS 받는 코드 -->
    <title>아몰약 회원정보 수정</title>
</head>

<body>
    <!-- 헤더시작 -->
    <header class="top_banner" name="top_banner">
        <h1>
            <a href="../index.html"><img
                    src="https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2FH1wxl%2FbtshhJaNxYe%2FTHUZOmkP459ZULv0CuV0ok%2Fimg.png"
                    class="top_logo">
            </a>
        </h1>
        <div class="login_box">
            <a href="signin.html" type="button" class="top_banner_buttons">로그인</a>
            <a href="" type="button" class="top_banner_buttons">로그아웃</a>
            <a href="signup.html" type="button" class="top_banner_buttons">회원가입</a>
        </div>
    </header>
    <!-- 헤더끝 -->
</body>

</html>