<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/css/common.css"><!-- 헤더의 CSS 받는 코드 -->
    <link rel="stylesheet" type="text/css" href="../static/css/updateuser.css"><!-- 헤더의 CSS 받는 코드 -->
    <title>아몰약 회원정보 수정</title>
</head>

<body>
    <!-- 헤더시작 -->
    <header class="top_banner" name="top_banner">
        <h1>
            <a href="../index.html"><img
                    src="https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2FH1wxl%2FbtshhJaNxYe%2FTHUZOmkP459ZULv0CuV0ok%2Fimg.png"
                    class="top_logo">
            </a>
        </h1>
        <div class="login_box">
            <a href="" type="button" class="top_banner_buttons">상품 등록(판매자)</a>
            <a href="carts.html" type="button" class="top_banner_buttons">장바구니</a>
            <a href="signin.html" type="button" class="top_banner_buttons">로그인</a>
            <a href="" type="button" class="top_banner_buttons">로그아웃</a>
            <a href="signup.html" type="button" class="top_banner_buttons">회원가입</a>
            <a href="updateuser.html" type="button" class="top_banner_buttons">회원정보수정</a>
            <a href="deleteuser.html" type="button" class="top_banner_buttons">회원탈퇴</a>
        </div>
    </header>
    <!-- 헤더끝 -->
    <div class="center_organizer">
        <h2 class="title_update">회원정보 수정</h2>
        <div class="bothside_seperater">
            <div class="left_box">
                <p>현재 등록된 아이디</p>
                <p class="white_box">아이디 들어가는 자리</p>
                <p>현재 등록된 이메일</p>
                <p class="white_box">이메일 들어가는 자리</p>
                <p></p>
            </div>
            <div class="arrow_mark">▶</div>
            <div class="right_box">
                <p>새로운 아이디를 입력하세요</p>
                <input />
                <p>새로운 비밀번호를 입력하세요</p>
                <input />
                <p>새로운 비밀번호 재확인</p>
                <input />
                <p>새로운 이메일을 입력하세요</p>
                <input />
                <p></p>
                <button class="update_button">작성완료</button>
            </div>
        </div>
    </div>
</body>

</html>